<mat-sidenav-container class="shell">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar class="brand">{{ appName }}</mat-toolbar>
    <mat-nav-list>
      @for (item of navItems(); track item.path) {
        <a
          mat-list-item
          [routerLink]="item.disabled ? null : item.path"
          routerLinkActive="active"
          [class.disabled]="item.disabled"
          [attr.aria-disabled]="item.disabled"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="topbar">
      <span class="spacer"></span>
      <button matButton [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
        {{ user()?.displayName }}
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/change-password">
          <mat-icon>password</mat-icon>
          <span>Change password</span>
        </button>
        @if (!user()?.mfaEnabled) {
          <button mat-menu-item routerLink="/mfa-setup">
            <mat-icon>phonelink_lock</mat-icon>
            <span>Enable two-factor auth</span>
          </button>
        }
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <main class="content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
